name: Trigger auto deployment for ca-aihub-agent-dev-je-001

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ca-aihub-agent-dev-je-001-AutoDeployTrigger-e8dc9a67-f121-46d7-a314-cf6baae0d674.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CAAIHUBAGENTDEVJE001_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CAAIHUBAGENTDEVJE001_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CAAIHUBAGENTDEVJE001_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: craihubcommondevje001.azurecr.io
          registryUsername: ${{ secrets.CAAIHUBAGENTDEVJE001_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CAAIHUBAGENTDEVJE001_REGISTRY_PASSWORD }}
          containerAppName: ca-aihub-agent-dev-je-001
          resourceGroup: aihub-dev-je-002-rg
          imageToBuild: craihubcommondevje001.azurecr.io/ca-aihub-agent-dev-je-001:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


